*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --heading-color: #000958;
    --primary-color: #ff5b2e;
    --heading-font: "Sora", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background: #fffaf5;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

button,
textarea,
input,
select {
    font-family: inherit;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 214px;
    height: 56px;
    border-radius: 999px;
    border: 1px solid var(--primary-color);

    background: transparent;
    color: var(--primary-color);

    font-weight: 500;
}

.section-heading {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
}

.section-desc {
    color: #656689;
    line-height: 3rem;
}

/* Header */
.header {
    position: sticky;
    top: -18px;
    z-index: 10;
    padding: 26px 0 8px;
    background: #fffaf5;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar-item__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.navbar-item__link:hover {
    color: var(--heading-color);
    font-weight: 600;
}

.header__btn {
    min-width: 117px;
    height: 50px;
    border-color: currentColor;
    color: var(--heading-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.header__btn:hover {
    background: var(--heading-color);
    color: #fffaf5;
}

/* Hero */
.hero {
    margin-top: 92px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

.hero__content {
    padding: 71px 0;
}

.hero__heading {
    max-width: 517px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 7.6rem;
}

.hero__desc {
    max-width: 391px;
    margin: 24px 0 38px;
    color: #656689;
    line-height: 3rem;
}

.hero__row {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero__btn {
    min-width: 189px;
    height: 60px;
    background: var(--primary-color);
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__btn:hover {
    opacity: 0.8;
}

.hero__btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    background: #fff;
}

.hero__cta-link {
    color: var(--heading-color);
    font-weight: 500;
    line-height: 1.6rem;
}

.hero__cta-link:hover {
    text-decoration-line: underline;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    border-radius: 16px;
    background: #fe997b;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor--left {
    bottom: 10px;
    left: -58px;
}

.hero__decor--right {
    top: 16px;
    right: -43px;
}

.hero__media {
    position: relative;
    height: 100%;
}

.hero__img-wrap--small {
    position: absolute;
    bottom: -58px;
    left: calc(100% - 23px);
    width: 186px;
    height: 244px;
    border: 2px solid #fff;
    background: #faa7ad;
}

.hero__service-list {
    position: absolute;
    right: 9px;
    bottom: -94px;
    width: 250px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-service-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-service-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}

.hero-service-item:last-child .hero-service-item__thumb {
    background: #6597c2;
}

.hero-service-item__title {
    margin-bottom: 7px;
    color: #181e52;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.hero-service-item__skeleton {
    width: 118px;
    height: 4px;
    border-radius: 10px;
    background: var(--heading-color);
    opacity: 0.08;
}

.hero-service-item__skeleton--short {
    width: 39px;
    margin-top: 6px;
}

.hero-service-item__separate {
    width: 100%;
    height: 2px;
    border-radius: 999px;
    margin: 20px 0;
    background: #f2f2f2;
}

/* About */
.about {
    padding-bottom: 55px;
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 146px;
    align-items: center;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5e6085;
    font-family: var(--heading-font);
    font-weight: 600;
    line-height: 1.6rem;
}

.about__heading {
    max-width: 446px;
    margin: 15px 0 24px;
}

.about__desc {
    max-width: var(--max-width, 431px);
}

.about__checklist {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    row-gap: 34px;
    column-gap: 36px;
    margin-top: 54px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    content: url(../icon/check.svg);
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    z-index: 1;
    width: 136px;
    height: 156px;
    padding: 31px 26px 29px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #fff;
    font-family: var(--heading-font);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 4.2rem;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
}

.about__card-decor {
    position: absolute;
    inset: -39px -32px auto auto;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    inset: auto 0 0 auto;
    z-index: -1;
    display: inline-block;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    content: "";
}

.about__img {
    width: 450px;
    height: 602px;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -1;
}

.about__desc-bottom {
    max-width: var(--max-width, 431px);
    margin: 24px 0 52px;
}

.about__img-wrap-bottom {
    width: 458px;
    border-radius: 18px;
    border: 2px solid #fff;
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__img-decor {
    position: absolute;
}

.about__img-decor:first-child {
    inset: 12.5px 63.16px auto auto;
}

.about__img-decor:nth-child(2) {
    inset: -16px 13px auto auto;
}

.about__img-decor:nth-child(3) {
    inset: 33px -21px auto auto;
}

.about__img-decor:nth-child(4) {
    inset: 290px -33px auto auto;
}

.about__img-decor:nth-child(5) {
    inset: 336px 19px auto auto;
}

.about__img-decor:nth-child(6) {
    inset: auto -23px -39px auto;
}

.about__img-decor:nth-child(7) {
    inset: auto -33px -47px auto;
}

.about__img-decor:last-child {
    inset: auto -42px -55px auto;
}

.tab__list {
    position: relative;
    display: inline-flex;
    align-items: stretch;
    gap: 56px;
}

.tab-item--active::after,
.tab__list::after {
    position: absolute;
    inset: auto 0 0 0;
    height: 2px;
    border-radius: 999px;
    background: var(--primary-color);
    content: "";
    opacity: 0.07;
}

.tab-item--active::after {
    right: auto;
    width: 95px;
    opacity: 1;
}

.tab-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab-item__icon {
    width: 21px;
}

.tab-item__title {
    color: #48496a;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.tab__content {
    padding-top: 36px;
}

.tab__content-desc {
    max-width: 391px;
    margin-bottom: 32px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.tab__content-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    color: #ff5d31;
    font-weight: 500;
    line-height: 1.6rem;
}

.tab__content-link::after {
    position: absolute;
    inset: auto 0 0 0;
    height: 1.5px;
    border-radius: 999px;
    background: #ff5d31;
    content: "";
}

.tab__content-link:hover {
    opacity: 0.7;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

/* Service */
.service {
    padding: 68px 0 100px;
    margin-top: 130px;
    background: #fff6ed;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 71px;
    margin-top: 71px;
}

.service__top {
    text-align: center;
}

.service__desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: var(--heading-font);
    font-weight: 600;
    line-height: 1.6rem;
}

.service-card {
    width: 294px;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-card + .service-card {
    margin-top: 24px;
}

.service-card__title {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.2rem;
}

.service-card__title::before {
    width: 2px;
    height: 22px;
    border-radius: 999px;
    background: linear-gradient(var(--primary-color) 0.39%, #ffa187 100.29%);
    content: "";
}

.service-card__desc {
    margin: 18px 0 24px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.service-card__link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #34396a;
    font-family: var(--heading-font);
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.service-card__link:hover {
    text-decoration: underline;
    text-underline-offset: 2.5px;
}

.service__column:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.service__media {
    position: relative;
}

.service__media::after {
    position: absolute;
    inset: auto 16px 0 16px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    content: "";
}

.service__img {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 17px;
}

.service__cta:hover {
    background: var(--primary-color);
    color: #fff6ed;
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff__desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: var(--heading-font);
    font-weight: 600;
    line-height: 1.6rem;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff-item {
    text-align: center;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 129.5px;
}

.staff-item__img-wrap::before {
    position: absolute;
    inset: auto auto 0 0;
    z-index: -1;
    width: 100%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    content: "";
}

.staff-item__img-wrap::after {
    position: absolute;
    inset: auto auto 0 50%;
    width: calc(100% + 48px);
    height: 100%;
    background-image: url(../img/staff-decor-01.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    translate: -50%;
    content: "";
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-02.svg);
    background-position: 0 16px;
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}

.staff-item:last-child .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-04.svg);
    background-position: 0 16px;
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:last-child .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item__img {
    width: 100%;
    border-radius: 129.5px;
    object-fit: cover;
}

.staff-item__desc {
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.staff-item__name {
    margin-top: 14px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.staff__cta-wrap {
    text-align: center;
}

.staff__cta {
    min-width: 193px;
    margin-top: 48px;
}

.staff__cta:hover {
    background: var(--primary-color);
    color: #fffaf5;
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__top {
    text-align: center;
}

.pricing__desc {
    max-width: 709px;
    margin: 24px auto 0;
}

.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border-radius: 999px;
    border: 1px solid #ff5b2e99;
    cursor: pointer;
    user-select: none;
}

.pricing__switch-label::after {
    position: absolute;
    inset: 0 0 auto auto;
    width: 131px;
    height: 100%;
    border-radius: 999px;
    background: var(--primary-color);
    content: "";
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1.6rem;
}

.pricing__switch-value:last-child {
    color: #fff;
}

.pricing__save {
    position: absolute;
    inset: -10px -111px auto auto;
}

.pricing__switch-input:checked + .pricing__switch-label::after {
    inset: 0 auto auto 0;
    width: 140px;
}

.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:first-child {
    color: #fff;
}

.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:last-child {
    color: var(--primary-color);
}

.pricing__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    margin-top: 56px;
}

.pricing-item {
    width: 302px;
    padding: 30px 28px 43px;
    border-radius: 20px;
    background: #fff;
}

.pricing-item:hover {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__type {
    color: var(--primary-color);
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.pricing-item__title {
    margin: 8px 0 24px;
    color: #3f4065;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.pricing-item__price {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 3.4rem;
}

.pricing-item__btn {
    min-width: 246px;
    height: 44px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    margin: 22px 0 24px;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1.6rem;
}

.pricing-item__btn:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.pricing-item__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.pricing-item__item {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--primary-color);
}

.pricing-item:first-child .pricing-item__item:nth-child(5),
.pricing-item:first-child .pricing-item__item:nth-child(6),
.pricing-item:first-child .pricing-item__item:last-child {
    color: #ff5b2e66;
}

.pricing-item:nth-child(2) .pricing-item__item:nth-child(6),
.pricing-item:nth-child(2) .pricing-item__item:last-child {
    color: #ff5b2e66;
}

.pricing-item__benefit {
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

/* Review */
.review {
    padding: 130px 0;
}

.review__inner {
    display: flex;
    align-items: center;
    gap: 44px;
}

.review__content {
    overflow: hidden;
}

.review__list {
    display: flex;
    align-items: center;
}

.review-item {
    display: flex;
    align-items: center;
    gap: 115px;
    flex-shrink: 0;
    width: 100%;
}

.review-item__media {
    position: relative;
    flex-shrink: 0;
    width: 274px;
    border-radius: 137px;
}

.review-item__media::after {
    position: absolute;
    inset: auto 0 0 0;
    height: 82%;
    border-radius: inherit;
    background: #ffda54;
    content: "";
}

.review-item__img {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.review-item__quote {
    max-width: 553px;
    margin: 24px 0 34px;
    color: #000;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.review-item__author {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #282828;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.review-item__author::before {
    width: 20px;
    height: 2px;
    border-radius: 999px;
    background: #000;
    content: "";
}

.review__control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    background: transparent;
    color: var(--primary-color);
}

.review__control:hover {
    border: none;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.review__dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 56px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.review__dot:hover {
    border: none;
    background: var(--primary-color);
    cursor: pointer;
}

.review__dot--active {
    width: 24px;
    border: none;
    border-radius: 4px;
    background: var(--primary-color);
}

/* Blog */
.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__wrap {
    padding-right: 73px;
}

.blog__desc {
    max-width: 350px;
    margin-bottom: 24px;
}

.blog__btn {
    min-width: 182px;
}

.blog__btn:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    margin-top: 54px;
}

.blog-item__img-wrap {
    padding: 24px 0 0 36px;
    border-radius: 24px;
    background: #90ccff;
}

.blog-item:nth-child(2) .blog-item__img-wrap {
    background: #ff997e;
}

.blog-item:last-child .blog-item__img-wrap {
    background: #5bd6e2;
}

.blog-item__img {
    width: 100%;
    height: 296px;
    object-fit: cover;
}

.blog-item__time {
    display: inline-block;
    margin-bottom: 25px;
    color: #fff;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.blog-item__title {
    margin: 28px 0 16px;
    color: #000958;
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.4rem;
}

.blog-item__desc {
    color: #656689;
    font-size: 1.4rem;
    line-height: 2.4rem;
}
